@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes marquee-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee-scroll {
    animation: marquee-scroll 20s linear infinite;
  }

  [data-animate] {
    opacity: 0;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 0.8s ease-in forwards;
  }

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slideInRight {
    animation: slideInRight 0.8s forwards linear;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slideInLeft {
    animation: slideInLeft 0.8s forwards linear;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-zoomIn {
    animation: zoomIn 0.8s ease-out forwards;
  }
}

body {
  background: var(--background);
  font-family: "Space Grotesk";

  &.menu-open {
    @apply overflow-hidden;
  }
}

html {
  @apply transition-all duration-300 ease-in;
  &.dark {
    --background: #0c0c0c;
    --foreground: #ededed;
    --color-text: #f1f5f9;
    --color-border: #1f2937;
    --color-body-bg: #0f172a;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  @apply leading-tight;
}

h1 {
  font-size: clamp(2.6875rem, 2.3134rem + 1.5962vw, 3.75rem);
}

h2 {
  font-size: clamp(2.25rem, 2.162rem + 0.3756vw, 2.5rem);
}

.container {
  @apply max-w-[1320px] mx-auto;
}
