@import "tailwindcss";
@import "utilities.css";
@import "./header.css";
@import "./blocks/index.css";
@import "./components/index.css";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #f97316;
  --color-accent: #10b981;

  --color-primary-dark: #eff6ff;
  --color-secondary-dark: #fff7ed;
  --color-accent-dark: #ecfdf5;

  --color-text: #334155;
  --color-border: #e5e7eb;
  --color-body-bg: #f9fafb;

  --color-whatsapp: #25d366;
  --color-twitter: #1da1f2;
  --color-linkedin: #0077b5;
  --color-facebook: #3b5998;
}

html {
  @apply transition-all duration-300 ease-in;
  &.dark {
    --background: #0c0c0c;
    --foreground: #ededed;
    --color-text: #f1f5f9;
    --color-border: #1f2937;
    --color-body-bg: #0f172a;
  }
}

@layer utilities {
  @keyframes marquee-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee-scroll {
    animation: marquee-scroll 20s linear infinite;
  }

  [data-animate] {
    opacity: 0;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 0.8s ease-in forwards;
  }

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slideInRight {
    animation: slideInRight 0.8s forwards linear;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slideInLeft {
    animation: slideInLeft 0.8s forwards linear;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-zoomIn {
    animation: zoomIn 0.8s ease-out forwards;
  }
}

body {
  background: var(--background);
  /*color: var(--foreground); */
  font-family: "Inter", sans-serif;

  &.menu-open {
    @apply overflow-hidden;
  }
}
@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #f97316;
  --color-accent: #10b981;

  --color-primary-dark: #eff6ff;
  --color-secondary-dark: #fff7ed;
  --color-accent-dark: #ecfdf5;

  --color-text: #334155;
  --color-border: #e5e7eb;
  --color-body-bg: #f9fafb;

  --color-whatsapp: #25d366;
  --color-twitter: #1da1f2;
  --color-linkedin: #0077b5;
  --color-facebook: #3b5998;
}

html {
  @apply transition-all duration-300 ease-in;
  &.dark {
    --background: #0c0c0c;
    --foreground: #ededed;
    --color-text: #f1f5f9;
    --color-border: #1f2937;
    --color-body-bg: #0f172a;
  }
}

body {
  background: var(--background);
  /*color: var(--foreground); */
  font-family: "Inter", sans-serif;

  &.menu-open {
    @apply overflow-hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}

.site-section {
  @apply w-full min-h-[600px] px-[1rem] lg:px-[2.5rem] py-8.5 lg:py-[70px];
}

.container {
  @apply max-w-[1320px] mx-auto;
}
