.site-logo {
  img {
    @apply w-[80px] h-auto;
  }
}

.header-navigation {
  ul {
    @apply flex items-center gap-8;

    li {
      @apply text-[1rem] uppercase hover:text-primary transition-all;
    }
    li.current-menu-item {
      @apply font-bold text-primary underline underline-offset-4;
    }
  }
}

.menu-toggle {
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  border: 0;
  width: 44px;
  height: 44px;
  z-index: 10000;

  .menu-toggle__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
  }

  .menu-toggle__icon--open {
    display: inline-block;
    opacity: 1;
  }

  .menu-toggle__icon--close {
    display: inline-block;
    opacity: 0;
  }

  &.menu-toggle--open {
    .menu-toggle__icon--open {
      opacity: 0;
    }

    .menu-toggle__icon--close {
      opacity: 1;
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 60vh;
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%); /* Start off-screen */
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 0 20px 60px 20px;
  box-sizing: border-box;

  &.mobile-nav--open {
    top: 80px;
    transform: translateY(0); /* Slide down */
  }

  .mobile-nav__menu {
    list-style: none;
    width: 80%;
    height: 100%;
    margin-left: auto;
    padding-top: 3rem;
    padding-right: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;

    li {
      @apply text-[1rem] uppercase hover:text-primary transition-all;
    }
    li.current-menu-item {
      @apply font-bold text-primary underline underline-offset-4;
    }
  }
}
